---
layout: body
---

<article class="page py-5 py-sm-6">
	<div class="container container--medium">
		<header class="page__header">
			<h1 class="page__title">{{ page.title }}</h1>
		</header>
		<div class="page__body text-block">
			{{ content }}
		</div>
        <form action="https://www.paypal.com/donate" method="post" target="_top"><input name="business" type="hidden" value="HQ58RBSZ38U44" />
        <input name="currency_code" type="hidden" value="USD" />
        <input title="Donate to Centro Maria" alt="Donate with PayPal button" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" type="image" />
        <img src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" />
        </form>

        <!-- SnapWidget -->
        <iframe src=“https://snapwidget.com/embed/961384” class=“snapwidget-widget” allowtransparency=“true” frameborder=“0" scrolling=“no” style=“border:none; overflow:hidden;  width:765px; height:510px”></iframe>
	</div>
</article>
