---
layout: body
---

<article class="page py-5 py-sm-6">
	<div class="container container--medium">
		<header class="page__header">
			<h1 class="page__title">{{ page.title }}</h1>
		</header>
		<div class="page__body text-block">
			{{ content }}
		</div>
        <form action="https://www.paypal.com/donate" method="post" target="_top"><input name="business" type="hidden" value="HQ58RBSZ38U44" />
        <input name="currency_code" type="hidden" value="USD" />
        <input title="Donate to Centro Maria" alt="Donate with PayPal button" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" type="image" />
        <img src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" />
        </form>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-bc5a362c-83a3-46c3-9f5b-73f2f221ca06"></div> 
	</div>
</article>
